node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.kotlin/

tunnel-config.json

# macOS
.DS_Store

# Local SSL proxy config
localhost-key.pem
localhost.pem

# Yarn lock file
yarn.lock