@page
@using Microsoft.AspNetCore.Mvc.Localization
@using KHHub.MasterDataService.Localization
@using KHHub.Web.Pages.ArticleCategories
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using KHHub.MasterDataService.Services.ArticleCategories; 
@using System.Globalization
@inject IHtmlLocalizer<MasterDataServiceResource> L
@model EditModalModel
@{
    Layout = null;
}
<form data-ajaxForm="true" asp-page="/ArticleCategories/EditModal" autocomplete="off">
    <abp-modal id="ArticleCategoryEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>
        <abp-modal-body>
@*//<suite-custom-code-block-1>*@
@*//</suite-custom-code-block-1>*@
            <abp-input asp-for="Id" />
                    <abp-input asp-for="ArticleCategory.ConcurrencyStamp" hidden="true" suppress-label="true"/>
            <abp-input asp-for="ArticleCategory.Name"    />
            <abp-input asp-for="ArticleCategory.Slug"    />
            <abp-input asp-for="ArticleCategory.Description" text-area   />
            <abp-input asp-for="ArticleCategory.Icon"    />
            <abp-input asp-for="ArticleCategory.ParentId"    />
            <abp-input asp-for="ArticleCategory.DisplayOrder"    />
            <abp-input asp-for="ArticleCategory.IsActive"    />
            <abp-input asp-for="ArticleCategory.ThumbnailUrl"    />
@*//<suite-custom-code-block-2>*@
@*//</suite-custom-code-block-2>*@
@*//<suite-custom-code-block-3>*@
@*//</suite-custom-code-block-3>*@
        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)">
@*//<suite-custom-code-block-4>*@
@*//</suite-custom-code-block-4>*@
        </abp-modal-footer>
    </abp-modal>
</form>